@model EstruturaBoostratap.ModelViews.DevedoresModelView
@{
    ViewData["Title"] = "Lista de Devedores";
}

@section Styles {
    <link href="~/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/lib/fancybox/jquery.fancybox.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.datepicker.js"></script>
    <script src="~/js/jquery.maskedinput-1.3.min.js"></script>
}

<h1 class="titulo-pagina">Devedores</h1>
<div class="clear-titulo"></div>

@await Component.InvokeAsync("Alertas")

<div class="top-pagina">
    <form name="FormCleanFilter" id="FormCleanFilter" asp-action="Index">
        <input type="hidden" name="LimparBusca" value="LimparFiltro" />
    </form>
    <form asp-action="Index">
        <div class="menu-listar">
            <div class="btn-filtrar">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Filtrar</button>
            </div>
            <div class="btn-novo">
                <a class="btn btn-primary" asp-action="Create" role="button">
                    Novo Devedor
                </a>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-2 mb-2">
                                    <label for="DevedoresID">Código</label>
                                    @Html.TextBoxFor(x => x.DevedoresID, new { @id = "DevedoresID", @class = "form-control", @placeholder = "Código do Devedor" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="NomeDevedor">Nome do Devedor</label>
                                    @Html.TextBoxFor(x => x.NomeDevedor, new { @id = "NomeDevedor", @class = "form-control", @placeholder = "Nome do Devedor" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="EmailCliente">E-mail</label>
                                    @Html.TextBoxFor(x => x.EmailDevedor, new { @id = "EmailDevedor", @class = "form-control", @placeholder = "E-mail" })
                                </div>
                                <div class="col-md-2 mb-2">
                                    <label for="CPFDevedor">CPF</label>
                                    @Html.TextBoxFor(x => x.CPFDevedor, new { @id = "CPFDevedor", @class = "form-control maskCPF", @placeholder = "CPF" })
                                </div>
                                <div class="col-md-2 mb-2">
                                    <label for="RGDevedor">RG</label>
                                    @Html.TextBoxFor(x => x.RGDevedor, new { @id = "RGDevedor", @class = "form-control maskRG", @placeholder = "RG" })
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                                <a href="#" class="btn btn-danger" onclick="javascript:document.FormCleanFilter.submit();" role="button">Limpar Filtros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="grid-result">
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome Devedor</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CPF</th>
                    <th scope="col">RG</th>
                    <th scope="col">Telefones</th>
                    <th scope="col">Contratos</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListaDevedores.Count > 0)
                {
                    @foreach (var item in Model.ListaDevedores)
                    {
                        <tr>
                            <td>@item.DevedorID</td>
                            <td>@item.NomeDevedor</td>
                            <td>@item.EmailDevedor</td>
                            <td>@item.CPFDevedor</td>
                            <td>@item.RGDevedor</td>
                            <td>
                                <a data-fancybox-type="iframe" class="btn btn-light fancyboxIframe" asp-action="TelefonesDevedor" asp-route-id="@item.DevedorID"><i class="material-symbols-outlined fLeft">tty</i></a>
                            </td>
                            <td>
                                <a data-fancybox-type="iframe" class="btn btn-light fancyboxIframe" asp-action="ContratosDevedores" asp-route-id="@item.DevedorID"><i class="material-symbols-outlined fLeft">file_open</i></a>
                            </td>
                            <td>
                                <a class="btn btn-success" role="button" asp-action="Edit" asp-route-id="@item.DevedorID"><i class="material-symbols-outlined">edit</i></a>
                                <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.DevedorID"><i class="material-symbols-outlined">delete</i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">Nenhum registro encontrado!</td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Paginacao")
    </div>
</div>
