<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link href='~/images/icon.png' rel='shortcut' type='image/x-icon' />
    <link href='~/images/icon.png' rel='icon' type='image/x-icon' />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/prism.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body data-topbar="dark">
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                </div>
            </div>
        </header>
        @await Component.InvokeAsync("Menu")
        <div class="main-content">
            <div class="page-content margin-final">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="direitos-autorais">Copyright &copy; @DateTime.Now.Year - Todos os Direitos Reservados</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="versao">Versão - 1.0.0.0</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/index.js" asp-append-version="true"></script>
</body>
</html>